<div class="navbarTop">
    <img src="/assets/images/schwabLogo.png" id="schwabLogo">
    <!-- <div> -->
        <div class="navbarHeading"> <p> NERD <br> Distribution Visualizer </p></div> 
    <!-- </div> -->
</div>

<div class="navbarBottom">
        <ul>
            <li> <a class="linkStyle" routerLink=""> Home </a> </li>
        </ul>
        <ul>
            <li> <a routerLink="treeView"> Tree View </a></li> 
        </ul>
        <ul>
            <li> <a routerLink="mapView"> Map View </a> </li> 
        </ul>
</div>
